# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

CollectionManagerBackend\CollectionManagerBackend\bin
CollectionManagerBackend\CollectionManagerBackend\obj
CollectionManagerBackend\packages
*.dll
CollectionManagerBackend/CollectionManagerBackend/bin/CollectionManagerBackend.dll.config
CollectionManagerBackend/CollectionManagerBackend/bin/CollectionManagerBackend.pdb
CollectionManagerBackend/CollectionManagerBackend/bin/EntityFramework.SqlServer.xml
CollectionManagerBackend/CollectionManagerBackend/bin/EntityFramework.xml
CollectionManagerBackend/CollectionManagerBackend/bin/EntityFramework.xml
CollectionManagerBackend/CollectionManagerBackend/bin/Microsoft.Data.Edm.xml
CollectionManagerBackend/CollectionManagerBackend/bin/Newtonsoft.Json.xml
CollectionManagerBackend/CollectionManagerBackend/bin/Microsoft.Data.OData.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Net.Http.Formatting.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Net.Http.WebRequest.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Spatial.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Helpers.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Net.Http.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.OData.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.WebHost.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Mvc.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Mvc.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Razor.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.WebPages.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.WebPages.Razor.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.WebPages.Deployment.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.Tracing.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.Tracing.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.xml
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.csproj.FileListAbsolute.txt
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.csprojResolveAssemblyReference.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.csprojResolveAssemblyReference.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.pdb
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.pdb
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.csdl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.csdl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.csdl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.msl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.msl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.ssdl
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-1.8.2.intellisense.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-1.8.2.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-1.8.2.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-ui-1.8.24.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-ui-1.8.24.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.unobtrusive-ajax.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.unobtrusive-ajax.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate-vsdoc.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.unobtrusive.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.unobtrusive.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/knockout-2.2.0.debug.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/knockout-2.2.0.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/modernizr-2.6.2.js