# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

bin/
obj/
packages/
CollectionManagerBackend/CollectionManagerBackend/bin/
CollectionManagerBackend/CollectionManagerBackendobj/
CollectionManagerBackend/packages/
CollectionPresenterFrontEnd/fonts/
CollectionPresenterFrontEnd/scripts/libs/
*.dll
CollectionManagerBackend/CollectionManagerBackend/bin/CollectionManagerBackend.dll.config
CollectionManagerBackend/CollectionManagerBackend/bin/CollectionManagerBackend.pdb
CollectionManagerBackend/CollectionManagerBackend/bin/EntityFramework.SqlServer.xml
CollectionManagerBackend/CollectionManagerBackend/bin/EntityFramework.xml
CollectionManagerBackend/CollectionManagerBackend/bin/EntityFramework.xml
CollectionManagerBackend/CollectionManagerBackend/bin/Microsoft.Data.Edm.xml
CollectionManagerBackend/CollectionManagerBackend/bin/Newtonsoft.Json.xml
CollectionManagerBackend/CollectionManagerBackend/bin/Microsoft.Data.OData.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Net.Http.Formatting.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Net.Http.WebRequest.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Spatial.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Helpers.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Net.Http.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.OData.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.WebHost.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Mvc.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Mvc.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Razor.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.WebPages.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.WebPages.Razor.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.WebPages.Deployment.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.Tracing.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.Tracing.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.xml
CollectionManagerBackend/CollectionManagerBackend/bin/System.Web.Http.xml
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.csproj.FileListAbsolute.txt
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.csprojResolveAssemblyReference.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.csprojResolveAssemblyReference.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.pdb
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/CollectionManagerBackend.pdb
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.csdl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.csdl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.csdl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.msl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.msl
CollectionManagerBackend/CollectionManagerBackend/obj/Debug/edmxResourcesToEmbed/Models/CollectionManagerEntities.ssdl
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-1.8.2.intellisense.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-1.8.2.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-1.8.2.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-ui-1.8.24.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery-ui-1.8.24.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.unobtrusive-ajax.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.unobtrusive-ajax.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate-vsdoc.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.unobtrusive.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/jquery.validate.unobtrusive.min.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/knockout-2.2.0.debug.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/knockout-2.2.0.js
CollectionManagerBackend/CollectionManagerBackend/Scripts/modernizr-2.6.2.js
CollectionManagerBackend/packages/EntityFramework.6.1.1/content/App.config.transform
CollectionManagerBackend/packages/EntityFramework.6.1.1/content/Web.config.transform
CollectionManagerBackend/packages/EntityFramework.6.1.1/EntityFramework.6.1.1.nupkg
CollectionManagerBackend/packages/EntityFramework.6.1.1/lib/net40/EntityFramework.SqlServer.xml
CollectionManagerBackend/packages/EntityFramework.6.1.1/lib/net40/EntityFramework.xml
CollectionManagerBackend/packages/EntityFramework.6.1.1/lib/net45/EntityFramework.SqlServer.xml
CollectionManagerBackend/packages/EntityFramework.6.1.1/lib/net45/EntityFramework.xml
CollectionManagerBackend/packages/EntityFramework.6.1.1/tools/about_EntityFramework.help.txt
CollectionManagerBackend/packages/EntityFramework.6.1.1/tools/EntityFramework.psd1
CollectionManagerBackend/packages/EntityFramework.6.1.1/tools/init.ps1
CollectionManagerBackend/packages/jQuery.1.8.2/Content/Scripts/jquery-1.8.2.js
CollectionManagerBackend/packages/jQuery.1.8.2/Tools/common.ps1
CollectionManagerBackend/packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
CollectionManagerBackend/packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
CollectionManagerBackend/packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
CollectionManagerBackend/packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-icons_222222_256x240.png
CollectionManagerBackend/packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-icons_454545_256x240.png
CollectionManagerBackend/packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
CollectionManagerBackend/packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
CollectionPresenterFrontEnd/css/iconFont.min.css
CollectionPresenterFrontEnd/css/metro-bootstrap-responsive.min.css
CollectionPresenterFrontEnd/css/metro-bootstrap.min.css