<h3>Collection</h3>
<img src="http://www.hardwareheaven.com/reviewimages/confessions-of-a-retro-gaming-addict/panarama.jpg" class="rounded shadow" />

<section ng-repeat="collection in collections">
	<h3>{{collection.collection}}</h3>
	<div class="grid">
		<div class="row">
			<div ng-repeat="item in collection.items">
				<a href="#" class="image-container shadow margin10 span4">
					<img src="{{imagesFolder}}{{item.image}}?width=270&height=270&mode=crop" alt="{{item.title}}" />
					<div class="overlay">
						{{item.name}}
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
